<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="A small informational website about the book Pride and Prejudice by Jane Austen">
        <meta name="keywords" content="Book, Reading, Pride and Prejudice, Jane Austen">
        <meta name="author" content="Stan Ruiter, Mariam Bakkali Kasmi and Taha Charef">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="style.css">
        <script src="scripts.js" async></script>
        <title>Account page</title>
    </head>
    <body id="content" class="body" onload="loadFunction('Account')">
        <header class="header">
            <h1 class="title">Account page</h1>
        </header>
        <nav class="navBar">
						<a class="nav__elem" href="catalogue.html">Catalogue</a>
						<a class="nav__elem" href="login.html">Account</a>
						<a class="nav__elem" href="reservations.html">Reservations</a>
        </nav>
				<div class="profile">
      	<h1>Hello, <%= name %> !</h1>
				<a href="logoutconfirm.html">Log out</a>
				</div>
    		<footer class="footer">
            <p>Created by Stan Ruiter, Mariam Bakkali Kasmi and Taha Charef</p>
				</footer>
    </body>
</html>
