:root {
    --accent-color:            rgba(12, 45, 57, 1);
    --accent-color-alt:        rgb(28, 56, 63);
    --accent-color-light:      rgb(71, 112, 121);
    --accent-color-alt-dark:   rgb(123, 113, 80);
    --background-color:        rgb(218, 210, 188);
    --background-color-light:  rgb(222, 222, 220);
    --text-color:              rgb(9, 37, 48);
}

html {
    position: relative;
    min-height: 100%;
}

.body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    overflow: hidden scroll;
    font-size: 1.15rem;
    color: var(--text-color);
}

.header {
    width: 100vw;
    background-color: var(--accent-color);
    color: var(--background-color-light);
    padding: 10px 0 2px 0;
    text-align: center;
}

.navBar {
    background-color: var(--accent-color);
    text-align: center;
    top: 0;
    position: sticky;
    border-bottom: 5px solid var(--accent-color-light);
    padding: 16px 0 12px 0;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: var(--accent-color);
    color: var(--background-color-light);
    margin: 15px 0 0 0;
    padding: 10px 0 2px 0;
    border-top: 5px solid var(--accent-color-light);
    text-align: center;
}

.title, .content__title {
    font-style: normal;
    text-align: center;
    font-size: 1.7rem;
}

.centered-text {
    text-align: center;
    font-size: 1.2rem;
}

.content__text-header {
    font-style: normal;
    padding-left: 10px;
    margin-top: 3rem;
}

.content {
    max-width: 800px;
    margin: 20px auto 90px auto;
}

.content_reviews {
    max-width: 85%;
}

.content__quote-text {
    font-size: 1.1rem;
}

.content__img_and_text {
    display: grid;
    align-items: center; 
    text-align: center;
    grid-template-columns: 1fr 3fr;
    column-gap: 5px;
}

.content__img {
    max-width: 200px;
    margin: 20px;
    height: auto;
}

.content__side_text {
    text-align: justify;
    display: block;
}


.section__centerElements {
    text-align: center;
}

.content__button {
    transition: linear 0.2s;
    text-decoration: none;

    width: 150px;
    margin: 20px;
    padding: 10px 10px;

    font-size: 15px;
    font-weight: bold;

    background-color: var(--accent-color-light);
    color: var(--background-color-light);
    text-align: center;

    display: inline-block;
}

.content__button:hover {
    transition: linear 0.2s;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px var(--text-color);
    background-color: var(--accent-color-alt);
}

.book-info {
    margin: 20px 0 40px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.book-info__side-text {
    margin: 20px;
    text-align: justify;
    display: block;

}

.book-info__recommendation {
    transition: linear 0.2s;
    text-decoration: none;
    color: var(--text-color);
    max-width: 100%;
    margin: 20px;
    font-size: 0.9rem;
}

.book-info__recommendation:hover {
    transition: linear 0.2s;
    color: var(--accent-color);
    box-shadow: 0px 0px 5px 0px var(--text-color);
}

.book-info__text {
    margin-right: 10px;
}

.content__links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0 40px 0;
}

.content__link {
    text-decoration: none;
    width: 150px;
    margin: 20px;
    padding: 10px 10px;

    font-size: 15px;
    font-weight: bold;

    background-color: var(--accent-color-alt);
    color: var(--background-color); 
    text-align: center;

    border: #000 1px solid;
}

.recommended-books {
    display: grid;
    max-width: 800px;
    height: fit-content;
    margin: 20px auto 100px auto;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
}

.book-info__img__recommendation {
    max-width: 150px;
    margin-right: 15px;
    height: auto;
}

.book-info__img {
    max-width: 200px;
    height: auto;
}

.in-page-link {
    text-decoration: none;
    border-bottom: 1px solid var(--accent-color-alt);
    color: var(--accent-color-alt);
}

.in-page-link:visited {
    border-bottom: 1px dotted var(--accent-color-alt-dark);
    color: var(--accent-color-alt-dark);
}

.in-page-link:hover {
    background-color: var(--accent-color-alt);
    color: var(--background-color-light);
}

.content__credits {
    text-decoration: none;
    font-size: smaller;
    margin-left: 25px;
    color: var(--accent-color-light);
}


.nav__elem {
    display: inline-block;
    color: var(--background-color-light);
    text-decoration: none;
    font-size: larger;
    margin: 0 10px;
}

.nav__elem:hover {
    color: var(--accent-color-light);
}

.nav__elem--selected {
    color: var(--accent-color-light);
    border-bottom: 2px solid var(--accent-color-light);
}

.content__table_reviews {
    display: grid;
    width: 100%;
    max-width: 1200px;
    overflow-x: auto;
    align-items: center;
    text-align: center;
    padding:10px 5px;
    margin: 0;
    margin-bottom: 5rem;
    margin-top: 2rem;
}

.form__reviews {
    display: grid;
    max-width: 800px;
    align-items: center;
    /*font-size: 16px;*/
    text-align: center;
    padding:10px 5px;
    margin: 20px auto 100px auto;

    background-color: var(--accent-color-light);
    border-radius: 15px;
}

.form__title {
    font-style: normal;
    text-align: center;
    margin: 20px 0;
}

.form__label {
    display: block;
    margin: 10px 0;
}

.form__input {
    max-width: 90%;
    width: 50%;
    padding: 10px;
    margin: auto;
    font-size: 16px;
}

.form__input-rating {
    color: var(--accent-color);
    width: auto;
    /*height: 100%;*/
    margin: 0 auto;
    font-size: 30px;
    border: none;
    background: none;
    appearance: none;
}

.form__submit {
    width: 150px;
    margin: 25px auto;
    padding: 10px 10px;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--accent-color);
    color: var(--background-color-light);
    text-align: center;
    display: inline-block;
    border: none;
}

.table  {
    font-family:Arial, sans-serif;
    /*font-size:14px;*/
    border-collapse:collapse;
    border-spacing:0;
    margin-bottom: 3rem;
}

.table__reviews {
    width: 100%;
    min-width: 500px;
}

.table__row {
    text-align:left;
}

.table__cell {
    border: black 1px solid;
    padding:10px 5px;
    text-align: center;
}

.table__cell__stars {
    padding: 15px 15px;
    color: var(--accent-color-light);
    font-size: 25px;
    text-align: center;
}

.table__cell__review {
    padding: 15px 15px;
    text-align: justify;
    font-size: 15px;
}

.table__head {
    padding:10px 5px;
    background-color:var(--accent-color-alt);
    color: var(--background-color-light);
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px black;
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: var(--accent-color-light);
    color: var(--background-color-light);
    text-align: center;
    border-radius: 6px;
    padding: 10px 20px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 35%;
    margin-left: -60px;
    font-size: 0.9rem;
 }
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}

@media only screen and (max-width: 600px) {
    .recommended-books {
        grid-template-columns: 1fr;
    }

    .content__img_and_text {
        grid-template-columns: 1fr;
    }

    .content {
        max-width: 90%;
    }
}